/*  logo navbar */
.navbar-logo .logo-small, .navbar-logo svg{
    height: 50px;
}
.navbar-logo .logo-small img{
    height: 100%;
    aspect-ratio: 1/1;
}

/* search bar */

.navbar-light .input-group span, .navbar-light .input-group input{
    background-color: #E5E5E5;
}

.dropdown button,.dropdown button:hover{
    color: #FF8F00;
}

/* sidebar */
.sidebar{
    background-color: #051E34;
    background-image: url(./img/sidebar-bg.png);
    width: 100px;
}

.all main {
    width: 100%;
}

.sidebar, .all main {
    height: calc(100vh - 50px);
}


@media screen and (min-width:1200px) {
    .sidebar{
        width: 170px;
    }
}

